p,body,html,
*::after,
*::before{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

a{
	text-decoration: none;
	color: inherit;
}

html,body{
	height: 100%;
	width: 100%;
}

.header{
	background-color: gray;
	height: 30px;
	padding: 5px;
}

.pagetitle{
	font-size: 20px;
	
}