@charset "utf-8";
nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}
.first-view {
    height: 720px;
    background-image: url(../images/index/titleBg.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    display: flex;
    justify-content:center;
    align-items:center;
    align-items: center;
    font-family:"DotGothic16",sans-serif;
    
}
.first-view-text {
    width: 100%;
    max-width: 1200px;
    text-align:center;
    padding:0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 
        5px 5px #000000,
        0px 0px 100px #ff0000,
        0px 0px 100px #f11414,
        0px 0px 100px #ff0202;
}
.first-view-text h1 {
    font-size: 80px;
    line-height: 120px;
}
.first-view-text p {
    font-size: 40px;
    margin-top: 48px;
}

.explane{
    background-image: url("../images/common/mainBg.png");
    background-size: cover;
    background-position: center;
    padding:120px 0;
    background-attachment: fixed;
}

.explane-inner{
    width:80%;
    max-width:900px;
    margin:0 auto;
    position:relative;
}

.news-item{
    position: relative;
    margin-bottom: 80px;
    font-family: "DotGothic16", sans-serif;

    opacity:0;
    transform:translateY(60px) scale(0.9);
    transition:all 0.8s ease;
}
.news-item.show{
    opacity:1;
    transform:translateY(0) scale(1);
}

.news-tag{
    position:absolute;
    left:-80px;
    top:40px;
    background:#fe14c3;
    color:white;
    writing-mode: vertical-rl;
    padding:20px 10px;
    font-weight:bold;
}

.news-box{
    background:#000000;
    color:white;
    border:8px solid #fe14c3;
    padding:40px;
    line-height:1.8;
    box-shadow:-8px 8px 0px #00ff95;
    margin-bottom:80px;
    
}

.news-box h2{
    background:#fe14c3;
    display:inline-block;
    padding:8px 20px;
    margin-bottom:20px;
}

.paint-menu{

    background-image:url("../images/index/menuBg.png");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;

    padding:120px 0;
    cursor:url("../images/index/paint_cursor.png") 0 0, auto;
}

.paint-menu ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;

    margin: 0;
    padding: 0;
    list-style: none;
}
.paint-menu-button{
    position:relative;
    width:420px;
    display:block;
    margin: 0 auto;

    transition:.2s;

    cursor:url("../images/index/paint_cursor.png") 0 0, auto;
}

.paint-menu a,
.paint-menu button{
    cursor: url("../images/index/paint_cursor.png") 0 0, auto;
}

.paint-menu-button img{
    display:block;
    width:100%;
}
.paint-menu-button span{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-family:"DotGothic16",sans-serif;
    font-size:28px;
    color:white;
    text-shadow:
        2px 2px 5px black;
    pointer-events:none;
}
.paint-menu-button:hover{
    transform:scale(1.05);
    filter:brightness(1.2);
}
.paint-menu-button:active{
    transform:scale(.95);
}
.ink{
    position:absolute;
    width:50px;
    height:50px;
    background:url("../images/common/share_fb.png");
    background-size:contain;
    background-repeat:no-repeat;
    pointer-events:none;
    transform:translate(-50%,-50%);
    animation:ink .7s forwards;
    z-index:9999;
}
.trail{
    position:absolute;
    width:8px;
    height:8px;
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
    opacity:.8;
    animation:trailFade .5s forwards;
    z-index:9999;
}
.explane li{
    position: relative;
}
.explane li::before{
    content: " ";
    position: absolute;
    background-color: white;
    border-radius: 0 4px 4px 0;
    left:-20px;
    top:1rem;
    width: 12px;
    height: 8px;
}

@keyframes ink{
    0%{
        opacity:1;
        transform:
            translate(-50%,-50%)
            rotate(var(--angle))
            scale(.3);
    }

    70%{
        opacity:1;
    }

    100%{
        opacity:0;
        transform:
            translate(-50%,-50%)
            rotate(var(--angle))
            scale(1.2);
    }
}
@keyframes trailFade{
    from{
        opacity:.8;
        transform:translate(-50%,-50%) scale(1);
    }

    to{
        opacity:0;
        transform:translate(-50%,-50%) scale(.3);
    }
}
@media (max-width:800px){

    .first-view{
        height:450px;
    }

    .first-view-text h1{
        font-size:40px;
        line-height:60px;
    }

    .first-view-text p{
        font-size:20px;
        margin-top:20px;
    }

    .explane{
        padding:60px 0;
    }

    .explane-inner{
        width:95%;
    }

    .news-tag{
        position:static;
        writing-mode:horizontal-tb;
        display:inline-block;
        margin-bottom:15px;
    }

    .news-box{
        padding:20px;
        border-width:5px;
        box-shadow:-5px 5px 0 #00ff95;
    }

    .paint-menu{
        padding:60px 0;
    }

    .paint-menu ul{
        gap:25px;
    }

    .paint-menu-button{
        width:260px;
    }

    .paint-menu-button span{
        font-size:18px;
    }

}