@charset "utf-8";
nav.floating {
    position: absolute;
    top: 100px;
    left: 50px;
    background-color: #d0d0d0;
}
.first-view {
    height: calc(100vh - 110px);
    background-image: url(../images/index/bg_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; 
    display: flex;
    justify-content:center;
    align-items:center;
    align-items: center;
    font-family:"DotGothic16",sans-serif;
    
}
.first-view-text {
    width: 100%;
    max-width: 1200px;
    text-align:center;
    padding:0;
    color: #ffffff;
    font-weight: bold;
    text-shadow: 1px 1px 10px #4b2c14;
}
.first-view-text h1 {
    font-size: 56px;
    line-height: 72px;
}
.first-view-text p {
    font-size: 18px;
    margin-top: 20px;
}

.to-paint{
	max-width: 100%;
    height: 150px;
    background-image: url(../images/index/bg_main.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover; display: flex;
    align-items: center;
	justify-content: center;
}
.to-paint-logo{
	display: block;
    width: 350px;
	transition: transform 0.1s, filter 0.1s;
}
/* カーソルで触れたときのアクション */
.to-paint-logo:hover {
    filter: brightness(70%);
}
/* クリック時のアクション */
.to-paint-logo:active {
    transform: scale(0.95);
    filter: brightness(70%);
}
.to-paint-button{
	display: none;
}

.explane{
    background-image: url("../images/common/mainBg.png");
    background-size: cover;
    background-position: center;
    padding:120px 0;
    background-attachment: fixed;
}

.explane-inner{
    width:80%;
    max-width:900px;
    margin:0 auto;
    position:relative;
}

.news-item{
    position: relative;
    margin-bottom: 80px;
    font-family: "DotGothic16", sans-serif;

    opacity:0;
    transform:translateY(60px) scale(0.9);
    transition:all 0.8s ease;
}
.news-item.show{
    opacity:1;
    transform:translateY(0) scale(1);
}

.news-tag{
    position:absolute;
    left:-80px;
    top:40px;
    background:#fe14c3;
    color:white;
    writing-mode: vertical-rl;
    padding:20px 10px;
    font-weight:bold;
}

.news-box{
    background:#000000;
    color:white;
    border:8px solid #fe14c3;
    padding:40px;
    line-height:1.8;
    box-shadow:-8px 8px 0px #00ff95;
    margin-bottom:80px;
    
}

.news-box h2{
    background:#fe14c3;
    display:inline-block;
    padding:8px 20px;
    margin-bottom:20px;
}

.paint-menu{

    background-image:url("../images/common/mainBg.png");
    background-size:cover;
    background-position:center;
    background-attachment:fixed;
    position: relative;
    overflow: hidden;

    padding:120px 0;
    cursor:url("../images/common/share_ln.png") 0 32, auto;
}

.paint-menu ul{

    display:flex;
    flex-direction:column;

    align-items:center;

    gap:50px;
}
.paint-menu-button{

    position:relative;

    width:420px;

    display:block;

    transition:.2s;

    cursor:url("../images/common/share_x.png") 0 32, auto;
}

.paint-menu a,
.paint-menu button{
    cursor: url("../images/common/share_fb.png") 0 31, auto;
}

.paint-menu-button img{
    display:block;
    width:100%;
}
.paint-menu-button span{
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%,-50%);
    font-family:"DotGothic16",sans-serif;
    font-size:28px;
    color:white;
    text-shadow:
        2px 2px 5px black;
    pointer-events:none;
}
.paint-menu-button:hover{
    transform:scale(1.05);
    filter:brightness(1.2);
}
.paint-menu-button:active{
    transform:scale(.95);
}
.ink{
    position:absolute;
    width:50px;
    height:50px;
    background:url("../images/common/share_fb.png");
    background-size:contain;
    background-repeat:no-repeat;
    pointer-events:none;
    transform:translate(-50%,-50%);
    animation:ink .7s forwards;
    z-index:9999;
}
.trail{
    position:absolute;
    width:8px;
    height:8px;
    border-radius:50%;
    pointer-events:none;
    transform:translate(-50%,-50%);
    opacity:.8;
    animation:trailFade .5s forwards;
    z-index:9999;
}

@keyframes ink{
    0%{
        opacity:1;
        transform:
            translate(-50%,-50%)
            scale(.3)
            rotate(0deg);
    }
    70%{
        opacity:1;
    }
    100%{
        opacity:0;
        transform:
            translate(-50%,-50%)
            scale(1.2)
            rotate(35deg);
    }
}
@keyframes trailFade{
    from{
        opacity:.8;
        transform:translate(-50%,-50%) scale(1);
    }

    to{
        opacity:0;
        transform:translate(-50%,-50%) scale(.3);
    }
}